<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{163,29}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{163,29}}</string>
                <key>sourceSize</key>
                <string>{165,61}</string>
            </dict>
            <key>2102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{145,29}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{145,29}}</string>
                <key>sourceSize</key>
                <string>{165,61}</string>
            </dict>
            <key>2103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{155,31}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{155,31}}</string>
                <key>sourceSize</key>
                <string>{165,63}</string>
            </dict>
            <key>2104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{161,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{161,25}}</string>
                <key>sourceSize</key>
                <string>{165,61}</string>
            </dict>
            <key>2118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,31}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,18},{172,31}}</string>
                <key>sourceSize</key>
                <string>{250,59}</string>
            </dict>
            <key>2122.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1304},{134,29}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{134,29}}</string>
                <key>sourceSize</key>
                <string>{144,45}</string>
            </dict>
            <key>2123.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1217},{139,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{139,27}}</string>
                <key>sourceSize</key>
                <string>{145,45}</string>
            </dict>
            <key>2125.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1362},{86,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,19},{86,25}}</string>
                <key>sourceSize</key>
                <string>{170,63}</string>
            </dict>
            <key>2127.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1335},{86,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,19},{86,25}}</string>
                <key>sourceSize</key>
                <string>{170,63}</string>
            </dict>
            <key>2132.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1190},{141,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{141,25}}</string>
                <key>sourceSize</key>
                <string>{169,59}</string>
            </dict>
            <key>2133.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,593},{265,35}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{265,35}}</string>
                <key>sourceSize</key>
                <string>{269,61}</string>
            </dict>
            <key>2134.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,330},{261,29}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,19},{261,29}}</string>
                <key>sourceSize</key>
                <string>{269,61}</string>
            </dict>
            <key>2135.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1389},{81,30}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,18},{81,30}}</string>
                <key>sourceSize</key>
                <string>{169,58}</string>
            </dict>
            <key>2136.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{166,30}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{166,30}}</string>
                <key>sourceSize</key>
                <string>{170,62}</string>
            </dict>
            <key>FJ (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1625},{242,40}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,13},{242,40}}</string>
                <key>sourceSize</key>
                <string>{294,72}</string>
            </dict>
            <key>TH (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1653},{331,40}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{331,40}}</string>
                <key>sourceSize</key>
                <string>{335,72}</string>
            </dict>
            <key>XZ (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1356},{267,42}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{267,42}}</string>
                <key>sourceSize</key>
                <string>{303,72}</string>
            </dict>
            <key>ZZ (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1335},{284,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{284,48}}</string>
                <key>sourceSize</key>
                <string>{294,72}</string>
            </dict>
            <key>bg_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,531},{614,143}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,51},{614,143}}</string>
                <key>sourceSize</key>
                <string>{626,205}</string>
            </dict>
            <key>cancel_matching.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,204},{124,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,5},{124,21}}</string>
                <key>sourceSize</key>
                <string>{238,31}</string>
            </dict>
            <key>gamehelp.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,860},{193,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{193,35}}</string>
                <key>sourceSize</key>
                <string>{193,37}</string>
            </dict>
            <key>gamerecords.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1421},{230,45}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{230,45}}</string>
                <key>sourceSize</key>
                <string>{232,49}</string>
            </dict>
            <key>match_er_071.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,1607},{196,31}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{196,31}}</string>
                <key>sourceSize</key>
                <string>{198,45}</string>
            </dict>
            <key>match_er_072.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1821},{197,28}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{197,28}}</string>
                <key>sourceSize</key>
                <string>{223,46}</string>
            </dict>
            <key>match_er_073.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1805},{212,29}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{212,29}}</string>
                <key>sourceSize</key>
                <string>{214,45}</string>
            </dict>
            <key>match_er_076.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{165,34}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{165,34}}</string>
                <key>sourceSize</key>
                <string>{165,44}</string>
            </dict>
            <key>match_er_077.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1274},{136,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{136,28}}</string>
                <key>sourceSize</key>
                <string>{138,44}</string>
            </dict>
            <key>match_er_078.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{149,34}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{149,34}}</string>
                <key>sourceSize</key>
                <string>{151,44}</string>
            </dict>
            <key>match_er_079.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{146,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{146,35}}</string>
                <key>sourceSize</key>
                <string>{150,45}</string>
            </dict>
            <key>match_er_080.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{146,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{146,35}}</string>
                <key>sourceSize</key>
                <string>{150,45}</string>
            </dict>
            <key>match_er_081.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,1421},{184,35}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{184,35}}</string>
                <key>sourceSize</key>
                <string>{190,43}</string>
            </dict>
            <key>match_er_082.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1055},{184,35}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{184,35}}</string>
                <key>sourceSize</key>
                <string>{190,43}</string>
            </dict>
            <key>match_er_083.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{156,35}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{156,35}}</string>
                <key>sourceSize</key>
                <string>{170,45}</string>
            </dict>
            <key>match_er_084.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1246},{137,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{137,26}}</string>
                <key>sourceSize</key>
                <string>{137,44}</string>
            </dict>
            <key>match_er_192.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{149,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{149,28}}</string>
                <key>sourceSize</key>
                <string>{201,44}</string>
            </dict>
            <key>match_er_193.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,1805},{218,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{218,28}}</string>
                <key>sourceSize</key>
                <string>{236,44}</string>
            </dict>
            <key>match_er_194.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{145,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,41}}</string>
                <key>sourceSize</key>
                <string>{145,41}</string>
            </dict>
            <key>match_er_195.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1147},{141,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,41}}</string>
                <key>sourceSize</key>
                <string>{141,41}</string>
            </dict>
            <key>match_er_196.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{151,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,41}}</string>
                <key>sourceSize</key>
                <string>{151,41}</string>
            </dict>
            <key>match_er_197.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{167,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,41}}</string>
                <key>sourceSize</key>
                <string>{167,41}</string>
            </dict>
            <key>match_er_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1621},{198,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{198,28}}</string>
                <key>sourceSize</key>
                <string>{198,42}</string>
            </dict>
            <key>match_er_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1241},{113,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{113,39}}</string>
                <key>sourceSize</key>
                <string>{115,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>image_lan.png</string>
            <key>size</key>
            <string>{184,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:602742595b4fd128d7c1b879e11511b6:34ec52c78782a07c5520c4d98afff5d3:40357bce6930333d330608ac740f55dd$</string>
            <key>textureFileName</key>
            <string>image_lan.png</string>
        </dict>
    </dict>
</plist>
